<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-demoplugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>DemoPlugin</name><js-module name="DemoPlugin" src="www/DemoPlugin.js"><clobbers target="cordova.plugins.DemoPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="DemoPlugin"><param name="ios-package" value="DemoPlugin" /></feature></config-file><source-file src="src/ios/DemoPlugin.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="DemoPlugin"><param name="android-package" value="cordova-plugin-demoplugin.DemoPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/DemoPlugin.java" target-dir="src/cordova-plugin-demoplugin/DemoPlugin" /></platform></plugin>